@charset "utf-8";

/*공통부분 */
* { margin: 0; padding: 0; }
body,html { width: 100%; overflow-x:hidden; font-family: "nsL","nsL","nsEB","san-serif","serif";}
ul { list-style: none; }
a { text-decoration: none; }
input,button,img { outline: 0; border: 0; background: none; }

.clrfx:after { content:""; display:block; clear: both; }
.hd_wrap,.gnb_wrap,.con,.ft { clear:both; }
.tnb {clear: both; }
.vs { clear: both; }

.hd_wrap { width:100%; position:fixed; z-index: 9999; background-color:rgba(255,255,255);  overflow: hidden; border-bottom: 1px solid #ddd;}
.clrfx:after { content:""; height:1px; display: block;}

/*tnb*/
.tnb { width: 1440px; margin:0 auto; overflow: hidden;}
.tnb ul { float: right;}
.tnb ul li { float: left; height:40px;  }
.tnb ul li a { color: black; display: block; padding:10px; height:40px; line-height: 40px; font-weight:400; font-size:14px;}
.tnb ul li a:hover { color: green;}

/*gnb*/
.gnb_wrap { width: 1440px; margin: 0 auto; position: relative; overflow: hidden;}
.gnb_wrap a.logo { display: block; width: 200px; height: 60px; }
.gnb  { width:1000px; height: 60px;  margin:0 auto; margin-top: -45px; }
.gnb_lst { width:100%; height: auto; margin-left: 20px; }
.gnb_lst li { float: left; height: 60px; padding:0 10px; position: relative; }
.gnb_lst:first-child {padding-left: 100px;}
.gnb_lst li a { float: left; color: black; font-size: 17px; font-weight: 700; line-height: 60px; display:block; text-align: center; padding:0 30px; }

.gnb_lst li a:after { content:""; display: block; width:20px; height:20px; background-image:url(main/gnb_a_bg.png); text-align: center; background-repeat: no-repeat; background-position: center left; position: absolute; top:20px; right:10px; display: none; }

.gnb_lst li:hover a {color: green;}
.gnb_lst li:hover a:after {display: block;}

.gnb_wrap a.logo_ico img { display: block; width: 60px; height: 60px; clear:both; position: absolute; top:15px; right:3%;}

/*content*/
.con { width: 100%;  }
figure .bxslider li { position:relative; }
.bxslider .tit_box01,.bxslider .tit_box02,.bxslider .tit_box03 { position:absolute; }
/*color*/
.bxslider .d_green { color:#4a8f00; font-size:50px; } 
.bxslider .l_green { color:#80ca00; font-size: 70px; }
.bxslider .brown { color:#a38165; font-size: 40px; padding-bottom: 10px; }
.bxslider .sky { color:#44d1da; font-size: 45px; text-align: center; padding-top: 15px;} 

.bxslider .tit_box01 { left:53%; top:35%; }
.bxslider .tit_box01 .age { right: 10%; bottom: 5%; font-size: 15px; padding-top: 100px; font-weight: 600; text-align: right; }
.bxslider .tit_box02  { left:18%; top:30%; }
.bxslider .tit_box02 .d_green { font-size: 70px; padding-bottom: 20px; }
.bxslider .tit_box02 .com { font-size: 30px; line-height: 2.0; text-align: center; padding-bottom: 18px;  }
.bxslider .tit_box03 { left:58%; top:35%; }


/*page01*/
.page { width: 100vw; margin: 0 auto; clear:both; position: relative;  overflow: hidden; min-height: 600px;}

#page01{ position:relative; }
.fr_box { position: absolute; width:100%; padding: 100px 0; display: none;}
.txt_box { width:50%; height: 400px; font-size: 50px; text-align: center; float:left; }
.u_box { width: 600px; height:400px; float: right; padding-right: 200px; }
.u_box iframe { width: 100%; height: 400px; }
#page01 .box02 {display:none;}
#page01 .box03 {display:none;}

/*box01*/
#page01 { width:90%; margin-bottom: 50px; position:relative;}
#page01 p {font-weight: 700;}
#page01 .box01 .tit01 { font-size: 30px; }
#page01 .box01 .tit02 { font-size: 45px; color: green}
#page01 .box01 .tit03 { font-size: 45px;}
#page01 .box01 a { display: block; width: 120px; height:80px; font-size: 30px; line-height:80px; position: absolute; left:21%; bottom: 27%; border: 1px solid transparent; border-radius: 40px; color:#fff; font-weight: 700;background-color: green; }
#page01 .box01 a:hover { border: 2px solid green; background-color: white; color: green; } 

/*button*/
#page01 .fr_box label { display: block; width: 100px; height: 100px; position: absolute; top:40%; text-indent: -9999px; }
/*호버시 각도도절 효과 넣기:transition 과 trasform: rotate("xxdge"); position: absolute 가 있어야 조절 가능 */
#page01 .fr_box label.prev { left:0; background-image: url("main/leaf_left_btn.png"); cursor: pointer;}

#page01 .fr_box label.next { right:0; background-image: url("main/leaf_right_btn.png"); cursor: pointer; }

#page01 .radio { display: none;}

/*box2*/
#page01 p {font-weight: 700;}
#page01 .box02 .tit01 { font-size: 30px; }
#page01 .box02 .tit02 { font-size: 45px; color: #633702; }
#page01 .box02 .tit03 { font-size: 45px;}
#page01 .box02 a { display: block; width: 120px; height:80px; font-size: 30px; line-height:80px; position: absolute; left:21%; bottom: 27%; border: 1px solid transparent; border-radius: 40px; color:#fff; font-weight: 700;background-color: #633702; }
#page01 .box02 a:hover { border: 2px solid #633702; background-color: white; color: #633702; } 



/*box3*/
#page01 p {font-weight: 700;}
#page01 .box03 .tit01 { font-size: 30px; }
#page01 .box03 .tit02 { font-size: 45px; color: #ffcc00; }
#page01 .box03 .tit03 { font-size: 45px;}
#page01 .box03 a { display: block; width: 120px; height:80px; font-size: 30px; line-height:80px; position: absolute; left:21%; bottom: 27%; border: 1px solid transparent; border-radius: 40px; color:#fff; font-weight: 700;background-color: #ffcc00; }
#page01 .box03 a:hover { border: 2px solid #ffcc00; background-color: white; color: #ffcc00; } 


/*radio button*/
#ra1:checked ~ .fr_box.box01 {display: block;}
#ra2:checked ~ .fr_box.box02 {display: block;}
#ra3:checked ~ .fr_box.box03 {display: block;}

/*page02*/
#page02 {width:100vw;}
#page02 .full_banner img { display: block; width:90%; height:auto; margin: 0 auto;}

/*page03*/
#page03 { width: 100%; }
#page03 .owl-carousel {width: 33.333%;  float: left; overflow:hidden;}
#page03 .owl-carousel li { position: relative; }
#page03 .owl-carousel img { display:block; text-align: center; width:590px; height:385px;}
#page03 .owl-nav{ display: none;}
#page03 .more { display: block; position: absolute; bottom: 20%; right: 30%; background-color: transparent; color:darkgreen; font-weight: 700; border:1px solid transparent; width: 60px; height: 40px; line-height: 40px; text-align: center; border-radius: 15px; }

#page03 .more:hover {color: white; background-color:rgba(0,128,0,0.6); text-shadow: 3px 5px 5px #009933;}
/*page04*/


/*ft: 가운데 정렬 안 될때 중간에 clrfx 설정해서 넣어주기 [.page 뒤에 .page:after 작용]*/
.ft { width: 100vw; height:auto; position: relative; overflow: hidden; padding: 30px 0;}
.ft:after { content:""; display: block; height:1px; clear:both; }
.ft_wrap { width:1440px; margin: 10px auto;  }
.ft .text_wrap { float: left; width: 40%; }
.ft .text_box01{ clear:both;}
.ft .text_box01 li {float: left;}
.ft .text_box01 li a { display: block; color: black; padding-right: 20px; padding-bottom: 10px;}
.ft .text_box01 li a:after {content:"|"; text-align: right; padding-left: 20px;}
.ft .text_box01 li:hover a {color: green;}
.ft .text_box02 { clear:both; font-size: 14px; color:#ccc; }
.ft .text_box02 p {padding:5px 0}
.ft .copyright {  font-size: 14px; color:#ccc;  }

.ft .tell_box { float: left; width: 20%; font-size:15px; text-align: center; padding-left: 20px; margin-top: -5px;}
.ft .tell_box p { padding: 5px 0; font-weight: 600;}
.ft .tell_box span { font-size: 30px; font-weight: 700;}

.ft .ft_logo { clear:both;  position:absolute; right: 21%; top: 40px; }
