@charset "utf-8";

.con { width: 100%; }


/*회원로그인*/
.frm_fr { width: 1440px; height:500px; margin: 0 auto; border:1px solid #aaa;}
section.frm_box { width: 50%; height: 500px; float: left; margin: 10px 0; }
.frm_tit { width: 100%; height: 50px; padding:40px 0; padding-left: 90px; padding-bottom: 20px;}
section.frm_box .frm1 { padding-left: 90px; border-right: 1px solid #aaa; width: 80%; height: 300px;}
section.frm_box .frm1 p {line-height: 1.6; padding-bottom: 20px; }
section.frm_box .in_data { border:1px solid #aaa; display: block; width: 80%; height: 50px; margin: 15px 0; padding:0 10px; }

section.frm_box .in_btn { border:1px solid #aaa; display: block; width: 84%; height: 50px; margin: 15px 0; padding:0 10px; background-color: darkgreen; color:#fff; font-size: 20px; letter-spacing: 10px;}

.frm1 fieldset { border:0;   }

section.join_box { width: 50%; height: 500px; float: right; }
.join_box_div { padding-left: 30px; margin: 10px 0 }
section.join_box .frm_tit{ width: 100%; height: 50px;  padding:40px 0; padding-bottom: 20px;} 
section.join_box .frm_com {line-height: 1.6; padding-bottom: 11px; }

.join_box a.wbtn { display:block; width: 70%; height:50px; border:1px solid #aaa; margin: 15px 0; text-align: center; line-height: 50px; font-size: 20px; color:#fff; background-color: darkgreen; }