@charset "utf-8";

.frm_fr { width:1440px; margin: 30px auto; height: auto; }
.frm_fr .frm_tit{ width: 650px; margin: 0 auto; padding-left:36px; }
.frm_box .frm1 { width: 650px; margin: 0 auto; margin-top: 40px}
.frm_box .in_data { display: block; width:600px; height:30px; font-size: 15px; margin: 10px auto; padding: 5px; padding-right: 0px; border:1px solid #ddd; }
