@charset "UTF-8";
.con { width: 100%;}
#page4 { margin-top : 100px;}
.full_intro img { display: block; width:100%; height: 845px; }

.frm_box { width:100%; clear:both;  height: 400px; margin-left: 30px; position:relative;}
.frm_box section { width:1440px;  margin: 30px auto; color: #ddd;font-size: 35px; text-shadow: 1px 1px 1px #03731f; position: relative;}
.frm_box section span { color:green; font-size: 50px;}
.frm_box .frm_box_lst { width: 100%; padding-top: 35px }
.frm_box .frm_box_lst li { float:left; width: 25%; } 
.frm_box .frm_box_lst ifram { width: 25%; height: auto;}

/*여기 버튼 다시*/

.frm_box section a.more { display: block; position:absolute; top:28%; right:5%; font-size: 18px; width: 80px; height: 50px; line-height: 50px; text-align: center; color:black; }
.frm_box section a.more:after { content:"+"; padding-left: 5px; line-height: 50px;}
