@charset "UTF-8";

.con { width: 100%; }
.bread_box { width: 1440px; margin:0 auto; height: 200px; position:relative; }
.bread_lst { width:20%;  height:200px;  padding-top:150px; box-sizing: border-box; clear:both; float:right; position: absolute; right: -60px; bottom: 9px;}
.bread_lst li { height: 80px; line-height: 80px; float:left; font-size: 15px; }

.bread_lst li span { width:130px; height:30px; line-height: 30px; text-align: center; display: block;  color: black;  }
.bread_lst li a {width:80px; height:30px; line-height: 30px; text-align: center; display: block;  color: black; border-bottom: 1px solid transparent; }
.bread_lst li a:hover { color: green; border-bottom: 1px solid green;}
.bread_lst li span:before { content:"<"; padding-right: 20px; }


.pro_lst { clear:both; width:1440px; height:1800px; margin: 0 auto; overflow: hidden;}
/*overflow: hidden 을 안해주면 안의 내용물이 영역을 넘어감 그래서 높이나 위치가 달라질 수 있음. 가장큰 부분부터 크기를 명확히 줘야함.*/

.pro_btn_box { float:right; clear:both; }
.pro_lst  .pro_btn_box li {float: left;  }
.pro_lst  .pro_btn_box li button { font-size: 20px; cursor:pointer; }
.pro_lst  .pro_btn_box li button:after { content:"|"; display: block; float:right; padding:0 20px; }
.pro_lst  .pro_btn_box li button:hover { color: green;}

/*product_lst: 리스트 안의 div 박스를 움직여야 함.. 리스트는 고정이다 이 친구야 정신차려 */
.pro_lst_data { width:1500px; height: 1500px; overflow: hidden; box-sizing: border-box; padding-top: 30px; }
.pro_lst_data li { width:500px; height: 500px; float:left; }

.pro_lst_data .pro_box { width:100%; height: 300px; margin-top: 50px; transition: 0.3s; }
.pro_lst_data .pro_box:hover { margin-top: 0;}
.pro_lst_data .pro_box a.thum_box { clear:both; display: block; color: black; font-weight: 700; width:400px; margin: 0 auto; }
.pro_lst_data a.thum_box h4 { text-align: center;}
.data-type-box { width:200px;  height: 30px; margin: 0 auto; text-align: center; line-height: 30px; }
.pro_lst_data p { text-align:  center;}
.pro_lst_data a.pro_btn { display: block; width: 50%; height: 30px; margin: 0 auto ; text-align:center; font-weight: 700; border:1px solid #ddd; background-color:darkgreen; color: #fff; padding-top:4px;}








