@charset "utf-8";

.con { width: 100%; }

/*form's fieldset & table */
.qna { width: 100%; height: auto; }
.search_frm { width: 1440px; height:auto; margin: 0 auto; }
.qna_tit_box {width: 100%; height: 50px; border-bottom: 1px solid green; border-top: 1px solid green; padding-top: 25px}
.qna_tit_box .cate_tit { float:left; padding-left: 20px; line-height: 25px}

/*라디오 & 검색*/
.qna_search { float: right; }
.qna_search .search_item { float:left; padding-right: 15px;height:25px; line-height: 25px; }
.qna_search label { font-size: 15px; }
.qna_search .in_data,.qna_search .in_btn { border: 1px solid #ddd; line-height: 25px;  }
.qna_search .in_btn { padding:0 5px;}

/*테이블 : tb_box가  검색바영역으로 겹쳐질 때 clear fix 처리 해주면 안넘어옴*/
.tb_box { clear:both; width:100%; height: auto; }
.tb { width: 100%; height: auto; padding:20px 0; border-collapse: collapse;  }
thead,tbody { width: 100%; }

th,td { text-align: center; height: 40px; line-height: 40px; border-bottom: 1px solid #ddd; color: black;}

thead th.tc1 { width:10%; border-bottom: 1px solid #ddd; padding: 10px 0; }
thead th.tc2 { width:60%;}
thead th.tc3,thead th.tc4,thead th.tc5 { width:10%;}

tbody .tc2_div { width: 400px; margin: 0 auto;}
tbody .tc2 a, tbody .tc2 span { display: block; float:left; }

tbody .qna_type1 { width:20px; height:40px; line-height: 40px; background-image:url("./main/gnb_a_bg.png"); background-repeat: no-repeat; background-position: center center;  text-indent: -9999px; padding-left: 10px;}

tbody .qna_type2 { width:20px; height:40px; line-height: 40px; background-image:url("./sub/lock.gif"); background-repeat: no-repeat; background-position: center center;  text-indent: -9999px; padding-left: 10px;}



/*page_num*/

.page_num { width: 140px; margin: 0 auto;}
.page_num a { display: block; width: 20px; height: 30px; line-height: 30px; float: left; padding: 10px 10px; color:#000; padding-bottom: 0; text-align: center;}
.page_num a:hover { border-bottom: 1px solid green; color:green; }

.tb_box .wbtn { clear:both; float: right; width: 100px; height: 30px; background-color:transparent; text-align:  center; line-height: 30px; color: #000; border:1px solid green; font-weight: 600;}
.tb_box .wbtn:hover { background-color:green; color: #fff; }

