@charset "UTF-8";
.con { width: 100%;}
.frm_box{ width:100%; clear:both;  height: 400px; margin-left: 30px;}
.frm_box section { width:1440px;  margin: 30px auto; color: #ddd;font-size: 35px; text-shadow: 1px 1px 1px #03731f;}
.frm_box section span { color:green; font-size: 50px;}
.frm_box .frm_box_lst { width: 100%; padding-top: 35px }
.frm_box .frm_box_lst li { float:left; width: 25%; position: relative;} 
.frm_box .frm_box_lst ifram { width: 25%; height: auto;}
.frm_box .frm_box_lst .more { display: block; font-size:25px; position:absolute; left:28%; width: 100px; height: 50px; line-height: 50px;  background-color: green; text-align: center; border:1px solid transparent; color: #fff; border-radius: 25px; margin-top: 15px;}
.frm_box .frm_box_lst .more:hover { border:1px solid green; background-color: #fff;}